* {
    box-sizing: border-box;
}

@media (max-width:1000px) {
    header {
      font-size: 14px;
    }
    h2 {
        font-size: 12px;
    }
  }

main {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    background-color: #ea4b15;
}

header {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.center-object {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.image {
    margin: 5px, auto;
    width: 200px;
    border-radius: 100px;
}

#bio {
    background-color: #90c52d;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.list {
    border-radius: 15px;
    background-color: #90c52d;
    padding: 10px 0px 10px 50px;
}

#button {
    display: flex;
    justify-content: center;
}

#takeQuiz {
    width: 150px;
    font-size: 22px;
    border-radius: 11px;
    background-color: rgb(253, 197, 42);
}

.hidden {
    display: none;
}